.home-div{
    display: flex;
    flex-direction: row;
    height:100%;
    width:100%;
    background-color: rgb(39,46,52);
}
.background{
    
    width:60%;
    height: 60%;
   
    // position:relative;
    // left:15%;
    // top:20%;
    // background-size:contain ;
    // background-repeat: no-repeat;
}